body {
	color: $main-text-colour;
	background-color: $background-colour;
}
a {
	color: $accent-colour;
}
.site-title a {
	color: darken($background-colour, 4%);
	text-shadow: 0 1px 1px lighten($background-colour, 5%), 0 -1px 0 darken($background-colour, 11%);
	&:hover {
		color: darken($background-colour, 6%);
		border-bottom: none;
	}
}
.main-nav {	
	background-color: lighten($background-colour, 2%);
	box-shadow: 0 1px 0 darken($background-colour, 5%);
	a {
		color: $link-colour;
		&:hover {
			color: $main-text-colour;
		}
	}
}
.wrap {
	background-color: $white;
}
.entry-date {
	color: lighten($main-text-colour, 30%);
}
.entry-thumbnail {
	background-color: $background-colour;
	figcaption {
		opacity: 0;
	}
	&:hover {
		figcaption {
			opacity: 1;
		}
	}
	img {
		display: block; 
		opacity: 0.95;
		-webkit-backface-visibility: hidden;
		&:hover {
			opacity: 1;
		}
		transition: opacity 0.2s;
	}
}