.menu {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.menu-item {
	display: inline-block;
	margin: 0 0.2em;
	&:first-child {
		margin-left: 0;
	}
	&:last-child {
		margin-right: 0;
	}
	a {
		padding: 0.7em 0.6em;
		@media (min-width: $wide) {
			padding: 0.55em 0.7em;
		}
		@media (min-width: $xwide) {
			padding: 0.4em 0.7em;
		}
		letter-spacing: 0.05em;
		text-decoration: none;
		font-weight: 100;
		position: relative;
		bottom: -1px;
	}
}
.main-nav {
	a:hover, .current_page_item a, .current_page_parent a {
		box-shadow: 0 1px 0 $main-text-colour; 
	}
}
.nav-next {
	float: right;
}