html {
	margin: 0;
	font-size: 100%;
	line-height: 1.4;

}
body {
	font-family: $sans-serif;
	margin: 0;
	@media (min-width: $narrow) {
	}
	@media (min-width: $wide) {
		font-size: 1.125em;
	}
	@media (min-width: $xwide) {
		font-size: 1.3em;
	}
}
p {
	margin: 0 0 1em;
}
a {
	text-decoration: none;
	&:hover {
		border-bottom: 0.1em solid $accent-colour;
	}
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 600;
	a {
		&:hover {
			border-bottom: 0.075em solid $accent-colour;
		}
	}
}
code {
	font-family: $monospace;
	font-size: 0.8em;
}
figure, .gist, .main-nav {
	a:hover {
		border-bottom: none;
	}
}
.site-title {
	@media (min-width: $narrow) {
	}
	white-space: nowrap;
	font-family: $sans-serif;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 7.8em;
	line-height: 1;
	font-weight: 600;
	a {
		text-decoration: none;
		&:hover {
			text-decoration: none;
		}
	}
}
.page-header {
	padding: 3.5em 0 3em;
	text-align: center;
	@media (max-height: $short) {
		padding: 3em 0;
	}
	@media (max-height: $xshort) {
		padding: 2em 0;
	}
}
.main-nav {
	text-transform: lowercase;
}
.entry {
	padding-bottom: 1em;
	@media (max-height: $xshort) {
		padding-bottom: 0;
	}
}
.entry-title {
	font-family: $sans-serif;
	font-size: 1.8em;
	letter-spacing: -0.01em;
	line-height: 1;
	font-weight: 300;
	margin: 0;
}
.post-nav {
	font-family: $sans-serif;
	text-transform: uppercase;
	font-size: 0.75em;
	font-weight: 300;
	letter-spacing: 0.05em;
	a {
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
}
.entry-date {
	@extend .post-nav;
	margin: 0.4em 0 0;
}
.social-links {
	margin-left: -0.7em !important;
	font-size: 1.1em;
	a:hover {
		border-bottom: none;
	}
}
.entry-thumbnail-caption {
	color: white;
	font-size: 0.75em;
	font-style: italic;
	font-weight: 300;
	text-shadow: 0 0 5px #000;
	a {
		color: inherit;
		text-decoration: underline;
		&:hover {
			color: inherit;
		}
	}
}
