// Fonts

$serif: 'Gentium Basic', Georgia, serif;
$sans-serif: 'Source Sans Pro', 'Helvetica', sans-serif;
$monospace: Consolas, "Liberation Mono", Courier, monospace;

// Break Points

$xnarrow: 320px;
$narrow: 480px;
$wide: 690px;
$xwide: 800px;
$xxwide: 980px;
$short: 500px;
$xshort: 380px;

// Colours

$main-text-colour: #38372e;
$link-colour: #706f67;
$white: #FFF;
$background-colour: #F1F1ED;
$light-background: #F5F5F3;
$accent-colour: #0090A7;

// Other

$small-radius: 3px;
$wrap: 960px;
$main-nav-height: 44px;